<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Deine Standortdaten werden benötigt, um dich bei der Teilnahme an Abenteuern zu führen und deine Entfernung zu den Checkpoints zu berechnen.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Deine Standortdaten werden benötigt, um dich bei der Teilnahme an Abenteuern zu führen und deine Entfernung zu den Checkpoints zu berechnen.</string>
</dict>
</plist>
